/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  	font: inherit;
	vertical-align: baseline;
}
/* Colorscheme: http://colorschemedesigner.com/#3u32y----w0w0 */
/* Body */
body {
	background-image: url('../img/background.png');
	padding: 0px 0px 0px 0px; }

h1 { font-family: "Economica" !important; font-size: 36px !important; font-weight: 700; text-shadow: 0px 1px 1px #fefefe; }
h2 { font-family: "Economica" !important; font-size: 30px !important; font-weight: 700; text-shadow: 0px 1px 1px #fefefe; }
h3 { font-family: "Economica" !important; font-size: 24px !important; font-weight: 700; }
h4 { font-family: "Quicksand" !important; font-size: 16px !important; font-weight: 400 !important; color: #FF40AC !important; line-height: 1 !important; margin-top: 20px !important; margin-bottom: 10px !important;}
p { font-family: "Quicksand" !important; font-size: 16px !important; font-weight: 400;}

@baseFontFamily { font-family: "Quicksand" !important; }
@baseFontSize { font-size: 16px !important; }
@baseLineHeight { line-height: 1 !important; }

address { font-family: "Quicksand" !important; font-size: 16px !important; }
address a { color: #40b8ff !important; }

.fixed-width {
	max-width: 940px; }

.thumbnail {
	background-color: rgba(255, 255, 255, 0.3) }

#sign {
	min-height: 200px;
	background-image: url('../img/JWsign2.png');
	background-repeat: no-repeat; 
	background-size: 100%; }

section {
	padding: 60px 0px 0px 0px; }
	
/* Menu */
.nav {
  font-family: "Quicksand", sans-serif; }

/* Footer */

footer {
	background-image: url('../img/background-footer.png');
	color: white; 
	padding: 40px 0px 40px 0px; 
	margin: 40px 0px 0px 0px; 
	-moz-box-shadow: inset 0px 5px 20px #282828;
	-webkit-box-shadow: inset 0px 5px 20px #282828;
	box-shadow: inset 0px 5px 20px #282828; }
	